@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box ;
}

body{
    font-family: "Montserrat" , sans-serif;
   background-color: #000;
   height: auto;
   overflow-x: hidden;
};

.logo  {
width: 300px;
height: 300px;
}

.Stake-title {
    display:flex;
    height: auto;
}

h1 {
    margin: 50px 0px 30px;
    text-align:center;
}

#carousel-containers {
    display: block;
    height:auto;
    justify-self: center;
    width: auto;
    flex-direction: column;
    align-content: flex-end;
}

.carousel1 {
    box-shadow: 3px -4px 3px  rgba(226, 234, 12, 0.881);
    height: 25%;
    width:auto;
    display: flex;
    overflow: hidden;
    margin-bottom:none;
    }

#Board {
        display: flex;
        height: 50%;
        width: auto;
        align-self: center;
        justify-content: center;
    }

.carousel2 {
        box-shadow: 4px 3px 4px  rgba(226, 234, 12, 0.881);
        height: 25%;
        width:100%;
        display: flex;
        overflow: hidden;
        margin-bottom:none;
        margin-top: none;
        }

#imgs {
        display: inline-flex;
        width: auto;
    }

#imgs2 {
        display: inline-flex;
        width: auto;
}

.img {
         width: 231px;
         height: 140px;
         align-items: center;
         object-fit: cover;
     }

.img2 {
        width: 231px;
        height: 140px;
        align-items: center;
        object-fit: cover;
    }
    
.image-container {
    display: flex;
    width: 100%;
    transform: translateX(0);
    overflow-wrap: normal;
    transition: transform 0.5s ease-in-out;
    }

.image-container2 {
        display: flex;
        width: 100%;
        overflow: initial;
        transform: translateX(0);
        transition: transform 0.5s ease-in-out;
        }

    /* break */
    #faq-contact-container {
        display: flex;
        align-content: center;
    }

.faq-container {
   max-width:37.5rem;
    margin: 0 auto;
}

.faq {
    color: goldenrod;
    background-color: transparent;
    border: 1px solid rgba(255, 215, 0);
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    position:relative;
    overflow:hidden;
    transition: 0.3s ease;
}

.faq.active {
background-color: #fff;
box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}

.faq.active::before,
.faq.active::after {
    content: '\f075';
    font-family: 'Font Awesome 5 Free';
    color:#2ec771;
    font-size:7rem;
    position:absolute;
    opacity: 0.2;
    top: 20px;
    z-index:0;
    }

    .faq.active::before {
        color: #fff;
        top: -10px;
        left:-30px;
        transform: rotate(180deg);
    }

    .fa-chevron-down {
        color:#fff;

    }

    .faq-title {
        margin: 0 35px 0 0;
        text-align: center;
    }

    .faq-text {
        display:none;
        color:#000;
        text-align: center;
        font-family: 'Montserrat';
        margin: 30px 0 0;
    }

    .faq.active .faq-text {
        display:block;
    }

    .faq-toggle {
        background-color: transparent;
        border: 0;
        border-radius:50%;
        cursor: pointer;
        display:block;
        align-content:center;
        justify-content: center;
        font-size:16px;
        padding: 0;
        position:absolute;
        top:30px;
        right:30px;
        height:30px;
        width:30px;
    }

    .faq-toggle:focus {
        outline:none;
    }

    .faq-toggle .fa-times {
        display:none;
    }

    .faq.active .faq-toggle .fa-times {
        display:block;
        align-content:center;
        justify-self:center;
    }

    .faq.active .faq-toggle .fa-chevron-down {
        display:none;
        color:#fff;
    }

    .faq.active .faq-toggle {
        background-color:#9fa4a8;
    }